{% extends "base.html" %}

{% block content %}
  <body>
    <h1>Tags:</h1>
    <a class="btn btn-primary float" href="{% url 'app:tag-create' %}">Create tag</a>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    {% for tag in tag_list %}
      <tr>
        <td>{{ tag.name }}</td>
        <td><a class="btn btn-secondary" href="{% url 'app:tag-update' pk=tag.id %}">Update</a></td>
        <td><a class="btn btn-danger" href="{% url 'app:tag-delete' pk=tag.id %}">Delete</a></td>
      </tr>
    {% endfor %}
    </table>
  </body>
{% endblock %}
